div.productDisplayAreaTile {
  display: flex;
  justify-content: center;
  border: 5px outset #76824f;
  background-color: #3f4727;

  padding: 25px;
  margin: 0px;
}
.prodsDivTileView {
  border: 5px inset #31391d;
  background-color: #a9b388;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: flex-start;
  height: 400px;
  padding: 25px 0px 25px 50px;
  gap: 30px;
}
.prodsDivTileView#prodsDivAlt {
  justify-content: center;
  width: 100%;
}
.idvProdContainerTile {
  padding: 15px;
  border: 1px solid #e4fa9b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 25%;
}
.idvProdContainerTile:hover {
  box-shadow: 13px 10px 5px 0px #76824f;
}
.idvProdContainerTile#idvProdContainerAlt {
  width: 100%;
}

.itemDetailDivInnerTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.idvProdNameNPriceContainerTile {
  display: flex;
  justify-content: space-between;
  width: 95%;
  background-color: rgba(100, 101, 120, 0.9);
  color: #fefae0;
  border-radius: 15px 15px 0px 0px;
  padding: 0px 15px 0px 15px;
  margin: 0px;
}

.idvProdButtonContainerTile {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 15px 15px;
  padding: 0px 15px 15px 15px;
  background-color: rgba(100, 101, 120, 0.9);
  width: 95%;
}
.universalProdButtonsTile,
.roleProtectedButtonsTile {
  display: flex;
  justify-content: center;
}

.universalProdButtonsTile > button,
.roleProtectedButtonsTile > button,
.productsUnivButton#productsTileUnivButton {
  width: 45%;
  background-color: rgba(100, 110, 200, 0.5);
  color: #fefae0;
  border-radius: 0px;
}

.universalProdButtonsTile > button,
.removeFromButton#productsTileRemoveFrom > button,
.roleProtectedButtonsTile > button,
.productsUnivButton#productsTileUnivButton > button {
  padding: 10px 15px;
}

.universalProdButtonsTile > div > button,
.productsUnivButton#productsTileUnivButton > button {
  width: 100%;
}
