.pageContainer.sticky#productView {
  padding-top: 10em;
}
.pageHeader {
  width: 100%;
}

.topOfHeaderItems {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

.viewOptionsDiv {
  display: flex;
  gap: 10px;
}
.goBackButton.productsPage,
.viewOptionsButton {
  padding: 5px 15px;
  font-size: 20px;
}
.goBackButton.productsPage.sticky {
  position: fixed;
  top: 5.5em;
  z-index: 1;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productsPageTitle {
  font-size: 50px;
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0px;
}
.productsPageTitle.sticky {
  position: fixed;
  width: 97%;
  top: 1.75em;
  left: 0px;
  margin: 0px;
}

@media screen and (max-width: 1259px) {
  .productDisplayAreaTile {
    display: flex;
    justify-content: center;
    margin-left: 75px;
  }
  .idvProdContainerTile {
    width: 25%;
  }
}
