.splashGreeting {
  align-items: center;
}
#guestSplashView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splashLogoContainerDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}

.splashEnter,
.splashGuest {
  position: absolute;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.splashEnter > h2,
.splashGuest > h2 {
  padding: 5px 15px;
}
.splashEnter > h2:hover,
.splashGuest > h2:hover {
  border-radius: 15px;
  padding: 2px 12px;
}

.splashLogoImage {
  width: 90%;
  height: 100%;
  border-radius: 90%;
}
