.signUpModal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 0px;
}
.signUpTitle {
  margin: 0px;
  padding: 0px;
}
.signUpModal > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
}

.signUpNameDiv,
.cityNstateDiv,
.zipNbirthdayDiv,
.emailNusernameDiv,
.passwordDiv,
.phoneNroleDiv {
  display: flex;
  gap: 5px;
}
.birthdayNphoneDiv {
  justify-content: space-between;
}
.birthdayDiv,
.roleSelectDiv {
  margin-left: 35px;
}

.signUpSelectLabel,
.signUpLabel {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signUpLabel#address > .signUpInput {
  width: 96%;
}

.signUpModal > form > button {
  background-color: #a9b388;
  color: #f0ebce;
  font-size: 17px;
}
.signUpModal > form > button:hover {
  background-color: #d3b5a0;
  color: #675d50;
}

.signUpSelectLabel > select,
.signUpInput {
  background-color: #807464;
  color: #f0ebce;
  font-weight: bold;
}
.signUpInput::placeholder {
  color: #d3b5a0;
}
.signupErrors {
  color: #b67162;
  font-weight: bold;
}
