#cart {
  display: flex;
  flex-direction: column;
  border: 1px solid #aba6f5;
  background-color: #65647c;
  padding: 5px;
}

.cartContainerDiv {
  display: flex;
  border: 1px solid #232231;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  overflow-y: scroll;
  height: 455px;
}
.cartItemContainer {
  display: flex;
  border: 5px solid #abc4aa;
  background: linear-gradient(190deg, #4e6c50, #a7a5de);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  padding: 25px 0px;
  width: 99%;
}

.itemImageContainer {
  width: 25%;
}
.itemImageContainer > img {
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

#cartItemDetails {
  width: 55%;
}

.cartItemInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #65647c;
  border-left: 5px solid #a7a5de;
  border-right: 5px solid #a7a5de;
  border-top: 5px solid #a7a5de;
  color: #e9e5d6;
  border-radius: 15px 15px 0px 0px;
}
.cartItemInfoContainer > a {
  color: #e9e5d6;
}
.cartItemInfoContainer > a:hover {
  color: #abc4aa;
}
.cartButtonsContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  background-color: #65647c;
  border-left: 5px solid #a7a5de;
  border-right: 5px solid #a7a5de;
  border-bottom: 5px solid #a7a5de;
  color: #e9e5d6;
  border-radius: 0px 0px 15px 15px;
}

@media screen and (min-height: 875px) {
  .cartContainerDiv {
    height: 500px;
  }
}
@media screen and (min-height: 925px) {
  .cartContainerDiv {
    height: 550px;
  }
}
@media screen and (min-height: 975px) {
  .cartContainerDiv {
    height: 600px;
  }
}
@media screen and (min-height: 1000px) {
  .cartContainerDiv {
    height: 750px;
  }
}
@media screen and (min-height: 1150px) {
  .cartContainerDiv {
    height: 1000px;
  }
}
