/* .light-COLOR-Palette {

} */

/* .dark-COLOR-Palette {

} */

.nothing {
  color: #;
  color: ;
  color: #;
  color: ;
  color: #;
  color: ;
  color: #;
  color: ;
}

.nothing {
  /*  */
}

.nothing {
  /*  */
}

.nothing {
  /*  */
}
