.darkGreenPalette {
  color: #3b5249;
  color: rgb(59, 82, 73);
  color: #1e5128;
  color: rgb(30, 81, 40);
  color: #346751;
  color: rgb(52, 103, 81);
  color: #519872;
  color: rgb(81, 152, 114);
  color: #a4b494;
  color: rgb(164, 180, 148);

  color: #4e9f3d;
  color: rgb(78, 159, 61);

  color: #616f39;
  color: rgb(97, 111, 57);
  color: #a7d129;
  color: rgb(167, 209, 41);
  color: #d8e9a8;
  color: rgb(216, 233, 168);

  color: #3e432e;
  color: rgb(62, 67, 46);
  color: #ecdbba;
  color: rgb(236, 219, 186);

  color: #c84b31;
  color: rgb(200, 75, 49);
  color: #382933;
  color: rgb(56, 41, 51);
  color: #191a19;
  color: rgb(25, 26, 25);

  color: #000000;
  color: rgb(0, 0, 0);
}
