.lightGreenPalette {
  color: #94b49f;
  color: rgb(148, 180, 159);
  color: #a0c49d;
  color: rgb(160, 196, 157);

  color: #c3e2c2;
  color: rgb(195, 226, 194);
  color: #cee5d0;
  color: rgb(206, 229, 208);

  color: #c4d7b2;
  color: rgb(196, 215, 178);
  color: #e1ecc8;
  color: rgb(225, 236, 200);

  color: #f7ffe5;
  color: rgb(247, 255, 229);
  color: #fcf8e8;
  color: rgb(252, 248, 232);
  color: #f3f0d7;
  color: rgb(243, 240, 215);
  color: #eaeccc;
  color: rgb(234, 236, 204);

  color: #f7d59c;
  color: rgb(247, 213, 156);
  color: #dbcc95;
  color: rgb(219, 204, 149);
  color: #ecb390;
  color: rgb(236, 179, 144);
  color: #cd8d7a;
  color: rgb(205, 141, 122);
  color: #5e454b;
  color: rgb(94, 69, 75);
}
