.dark-COLOR-Palette {
  color: #13005a;
  color: rgb(19, 0, 90);
  color: #150e56;
  color: rgb(21, 14, 86);
  color: #0b2447;
  color: rgb(11, 36, 71);
  color: #0e2954;
  color: rgb(14, 41, 84);
  color: #19376d;
  color: rgb(25, 55, 109);
  color: #00337c;
  color: rgb(0, 51, 124);
  color: #1f6e8c;
  color: rgb(31, 110, 140);
  color: #1c82ad;
  color: rgb(28, 130, 173);
  color: #2e8a99;
  color: rgb(46, 138, 153);
  color: #1597bb;
  color: rgb(21, 151, 187);
  color: #8fd6e1;
  color: rgb(143, 214, 225);
  color: #a5d7e8;
  color: rgb(165, 215, 232);

  color: #84a7a1;
  color: rgb(132, 167, 161);
  color: #03c988;
  color: rgb(3, 201, 136);

  color: #576cbc;
  color: rgb(87, 108, 188);

  color: #7b113a;
  color: rgb(123, 17, 58);
}
