.light-COLOR-Palette {
  color: #3a98b9;
  color: rgb(58, 152, 185);
  color: #00a9ff;
  color: rgb(0, 169, 255);
  color: #89cff3;
  color: rgb(137, 207, 243);
  color: #79e0ee;
  color: rgb(121, 224, 238);
  color: #a0e9ff;
  color: rgb(160, 233, 255);

  color: #92c7cf;
  color: rgb(146, 199, 207);
  color: #a6d0dd;
  color: rgb(166, 208, 221);
  color: #aad7d9;
  color: rgb(170, 215, 217);
  color: #cdf5fd;
  color: rgb(205, 245, 253);

  color: #98eecc;
  color: rgb(152, 238, 204);
  color: #d0f5be;
  color: rgb(208, 245, 190);

  color: #fbffdc;
  color: rgb(251, 255, 220);

  color: #e5e1da;
  color: rgb(229, 225, 218);
  color: #eeeeee;
  color: rgb(238, 238, 238);
  color: #fbf9f1;
  color: rgb(251, 249, 241);

  color: #fff9de;
  color: rgb(255, 249, 222);
  color: #ffd3b0;
  color: rgb(255, 211, 176);
  color: #e8d5c4;
  color: rgb(232, 213, 196);
  color: #ff6969;
  color: rgb(255, 105, 105);

  color: #000000;
  color: rgb(0, 0, 0);
}
