.goBackButton#BD {
  background-color: #19376d;
  color: #a5d7e8;
}
.goBackButton#BD:hover {
  background-color: #0b2447;
}

.viewOptionsButton#BD {
  background-color: #1c82ad;
  color: #13005a;
}
.viewOptionsButton#BD:hover,
.selectedView.viewOptionsButton#BD {
  background-color: #0b2447;
  color: #a5d7e8;
}

.productsPageTitle#BD {
  background-color: rgba(25, 55, 109, 0.9);
  color: #a5d7e8;
}

.idvProdContainerList#BD {
  border: 1px solid #2e8a99;
  background-color: #00337c;
}
.idvProdContainerTile#BD {
  border: 1px solid #2e8a99;
}
.idvProdContainerList#BD:hover,
.idvProdContainerTile#BD:hover {
  box-shadow: 13px 10px 5px 0px rgba(25, 55, 109, 0.5);
}

.idvProdNameNPriceContainerList#BD,
.idvProdNameNPriceContainerTile#BD {
  background-color: rgba(25, 55, 109, 0.9);
  color: #a5d7e8;
}

.idvProdButtonContainerList#BD,
.idvProdButtonContainerTile#BD {
  background-color: rgba(25, 55, 109, 0.9);
}

.universalProdButtonsList#BD > button,
.universalProdButtonsTile#BD > button,
.productsListUnivButton.productsPage#BD > button,
.productsTileUnivButton.productsPage#BD > button,
.productsListRemoveFrom.productsPage#BD > button,
.productsTileRemoveFrom.productsPage#BD > button,
.productsListEdit.productsPage#BD > button,
.productsTileEdit.productsPage#BD > button,
.productsTileDelete.productsPage#BD > button,
.productsListDelete.productsPage#BD > button {
  background-color: rgba(25, 55, 109, 0.5);
  color: #a5d7e8;
}
.universalProdButtonsList#BD > button:hover,
.universalProdButtonsTile#BD > button:hover,
.productsListUnivButton.productsPage#BD > button:hover,
.productsTileUnivButton.productsPage#BD > button:hover {
  background-color: #1f6e8c;
  color: #000000;
}
.productsTileRemoveFrom.productsPage#BD > button:hover,
.productsListRemoveFrom.productsPage#BD > button:hover {
  background-color: #84a7a1;
}
.productsTileDelete.productsPage#BD > button:hover,
.productsListDelete.productsPage#BD > button:hover {
  color: #fefae0;
  background-color: #7b113a;
}
.productsTileEdit.productsPage#BD > button:hover,
.productsListEdit.productsPage#BD > button:hover {
  background-color: #576cbc;
}

/* Toggle Switch */
.toggleSwitch-label#BD {
  border: 1px solid #13005a;
}

.toggleSwitch-inner#BD:before {
  background-color: #1597bb;
  color: #fff;
}
.toggleSwitch-inner#BD:after {
  background-color: #1f6e8c;
  color: #fff;
}

.toggleSwitch-switch.list#BD {
  background: #0e2954;
  border: 1px solid #19376d;
}
.toggleSwitch-switch.tile#BD {
  background: #0e2954;
  border: 1px solid #19376d;
}
