.goBackButton#BL {
  background-color: #a0e9ff;
  color: #030637;
}
.goBackButton#BL:hover {
  background-color: #3a98b9;
}

.viewOptionsButton#BL {
  background-color: #a0e9ff;
  color: #030637;
}
.viewOptionsButton#BL:hover,
.selectedView.viewOptionsButton#BL {
  background-color: #98eecc;
}

.productsPageTitle#BL {
  background-color: rgba(152, 238, 204, 0.5);
}

.idvProdContainerList#BL {
  border: 1px solid #00a9ff;
  background-color: #a6d0dd;
}
.idvProdContainerTile#BL {
  border: 1px solid #00a9ff;
}
.idvProdContainerList#BL:hover,
.idvProdContainerTile#BL:hover {
  box-shadow: 13px 10px 5px 0px rgba(152, 238, 204, 0.75);
}

.idvProdNameNPriceContainerList#BL,
.idvProdNameNPriceContainerTile#BL {
  background-color: rgba(121, 224, 238, 0.9);
  color: #000000;
}

.idvProdButtonContainerList#BL,
.idvProdButtonContainerTile#BL {
  background-color: rgba(121, 224, 238, 0.9);
}

.universalProdButtonsList#BL > button,
.universalProdButtonsTile#BL > button,
.productsListUnivButton.productsPage#BL > button,
.productsTileUnivButton.productsPage#BL > button,
.productsListRemoveFrom.productsPage#BL > button,
.productsTileRemoveFrom.productsPage#BL > button,
.productsListEdit.productsPage#BL > button,
.productsTileEdit.productsPage#BL > button,
.productsTileDelete.productsPage#BL > button,
.productsListDelete.productsPage#BL > button {
  background-color: rgba(121, 224, 238, 0.5);
  color: #000000;
}
.universalProdButtonsList#BL > button:hover,
.universalProdButtonsTile#BL > button:hover,
.productsListUnivButton.productsPage#BL > button:hover,
.productsTileUnivButton.productsPage#BL > button:hover {
  background-color: #a6d0dd;
  color: #000000;
}
.productsTileRemoveFrom.productsPage#BL > button:hover,
.productsListRemoveFrom.productsPage#BL > button:hover {
  color: #000000;
  background-color: #e8d5c4;
}
.productsTileDelete.productsPage#BL > button:hover,
.productsListDelete.productsPage#BL > button:hover {
  color: #000000;
  background-color: #ff6969;
}
.productsTileEdit.productsPage#BL > button:hover,
.productsListEdit.productsPage#BL > button:hover {
  color: #000000;
  background-color: #ffd3b0;
}

/* Toggle Switch */
.toggleSwitch-label#BL {
  border: 1px solid #3a98b9;
}

.toggleSwitch-inner#BL:before {
  background-color: #a0e9ff;
  color: #030637;
}
.toggleSwitch-inner#BL:after {
  background-color: #89cff3;
  color: #030637;
}

.toggleSwitch-switch.list#BL {
  background: #00a9ff;
  border: 1px solid #00a9ff;
}
.toggleSwitch-switch.tile#BL {
  background: #00a9ff;
  border: 1px solid #00a9ff;
}
