.goBackButton#BL {
  background-color: #a0e9ff;
  color: #030637;
}
.goBackButton#BL:hover {
  background-color: #3a98b9;
}

.viewOptionsButton#BL {
  background-color: #a0e9ff;
  color: #030637;
}
.viewOptionsButton#BL:hover,
.selectedView.viewOptionsButton#BL {
  background-color: #98eecc;
}

.productsPageTitle#BL {
  background-color: rgba(137, 207, 243, 0.9);
}

div.productDisplayAreaList#BL,
div.productDisplayAreaTile#BL {
  border: 5px outset #3a98b9;
  background-color: #89cff3;
}

.prodsDivListView.BL,
.prodsDivTileView.BL {
  border: 5px inset #00a9ff;
  background-color: #cdf5fd;
}

.idvProdContainerList.BL {
  border: 1px solid #00a9ff;
  background-color: #89cff3;
}
.idvProdContainerTile.BL {
  border: 1px solid #00a9ff;
}
.idvProdContainerList.BL:hover,
.idvProdContainerTile.BL:hover {
  box-shadow: 13px 10px 5px 0px rgba(152, 238, 204, 0.75);
}

.idvProdNameNPriceContainerList#BL,
.idvProdNameNPriceContainerTile#BL {
  background-color: rgba(121, 224, 238, 0.9);
  color: #000000;
}

.idvProdButtonContainerList#BL,
.idvProdButtonContainerTile#BL {
  background-color: rgba(121, 224, 238, 0.9);
}

.universalProdButtonsList#BL > button,
.universalProdButtonsTile#BL > button,
.roleProtectedButtonsList#BL > button,
.roleProtectedButtonsTile#BL > button,
.productsUnivButton.BL#productsListUnivButton,
.productsUnivButton.BL#productsTileUnivButton {
  background-color: rgba(121, 224, 238, 0.5);
  color: #000000;
}

.productsUnivButton.BL > button,
.editProductButton.BL > button,
.removeFromButton.BL > button,
.deleteProductButton.BL > button {
  background-color: rgba(121, 224, 238, 0.5);
  color: #000000;
}

.universalProdButtonsList#BL > button:hover,
.universalProdButtonsTile#BL > button:hover,
.productsUnivButton.BL > button:hover {
  background-color: #a6d0dd;
  color: #000000;
}

.removeFromButton.BL > button:hover,
.editProductButton.BL > button:hover {
  color: #000000;
}

.removeFromButton.BL > button:hover {
  background-color: #e8d5c4;
}
.deleteProductButton.BL > button:hover {
  color: #000000;
  background-color: #ff6969;
}

.editProductButton.BL > button:hover {
  background-color: #ffd3b0;
}
