.topOfPageItems {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

.viewOptionsDiv {
  display: flex;
  gap: 10px;
}
.goBackButton,
.viewOptionsButton {
  padding: 5px 15px;
  background-color: #a9b388;
  color: #fefae0;
  font-size: 20px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productsPageTitle {
  font-size: 50px;
  background-color: rgba(100, 101, 120, 0.9);
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0px;
}
div.productDisplayAreaTile {
  display: flex;
  justify-content: center;
  border: 5px outset #76824f;
  background-color: #3f4727;

  padding: 25px;
  margin: 0px;
}
.prodsDivTileView {
  border: 5px inset #31391d;
  background-color: #a9b388;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: space-evenly;
  height: 400px;
  padding: 25px 10px;
  gap: 15px;
}
.prodsDivTileView#prodsDivAlt {
  justify-content: center;
  width: 100%;
}
.idvProdContainerTile {
  padding: 15px;
  border: 1px solid #e4fa9b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}
.idvProdContainerTile:hover {
  box-shadow: 13px 10px 5px 0px #76824f;
}
.idvProdContainerTile#idvProdContainerAlt {
  width: 100%;
}

/* .productImageTile {
  width: 100%;
  border-radius: 15px;
} */

.idvProdNameNPriceContainerTile {
  display: flex;
  justify-content: space-between;
  width: 95%;
  background-color: rgba(100, 101, 120, 0.9);
  color: #fefae0;
  border-radius: 15px 15px 0px 0px;
  padding: 0px 15px 0px 15px;
  margin: 0px;
}

.idvProdButtonContainerTile {
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 15px 15px;
  padding: 0px 15px 15px 15px;
  background-color: rgba(100, 101, 120, 0.9);
  width: 95%;
}
.universalProdButtonsTile,
.roleProtectedButtonsTile {
  display: flex;
  justify-content: center;
}

.universalProdButtonsTile > button,
.removeFromButton > button,
.roleProtectedButtonsTile > button,
.productsUnivButton {
  width: 45%;
  background-color: rgba(100, 110, 200, 0.5);
  color: #fefae0;
  border-radius: 0px;
}

.universalProdButtonsTile > button,
.removeFromButton > button,
.roleProtectedButtonsTile > button,
.productsUnivButton > button {
  padding: 10px 15px;
}

.universalProdButtonsTile > div > button,
.productsUnivButton > button {
  width: 100%;
}

.productsUnivButton > button,
.editProductButton > button,
.removeFromButton > button {
  height: 100%;
  background-color: rgba(100, 110, 200, 0.5);
  color: #fefae0;
}
.deleteProductButton > button {
  background-color: rgba(100, 110, 200, 0.5);
  color: #fefae0;
}

.removeFromButton > button:hover,
.editProductButton > button:hover,
.deleteProductButton > button:hover {
  color: #362706;
}

.removeFromButton > button:hover {
  background-color: #dbc1bb;
}
.deleteProductButton > button:hover {
  color: #fefae0;
  background-color: #6f2818;
}

.editProductButton > button:hover {
  background-color: #f1d3b3;
}

@media screen and (max-width: 850px) {
  /* force to list view */
}
@media screen and (max-width: 1259px) {
  .productDisplayAreaTile {
    display: flex;
    justify-content: center;
    margin-left: 75px;
  }
  .idvProdContainerTile {
    width: 25%;
  }
}
