.topOfPageItems {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

.viewOptionsButtonsDiv {
  display: flex;
  gap: 10px;
}
.goBackButton,
.viewOptionsButton {
  padding: 5px 15px;
  background-color: #a9b388;
  color: #fefae0;
  font-size: 20px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.productsPageTitle {
  font-size: 50px;
}
.productDisplayAreaTile {
  display: flex;
  justify-content: center;
}
.prodsDivTileView {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 15px;
}
.prodsDivTileView#prodsDivAlt {
  justify-content: center;
  width: 50%;
}
.idvProdContainerTile {
  width: 30%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.idvProdContainerTile#idvProdContainerAlt {
  width: 100%;
}
.productImageTile {
  width: 100%;
  border-radius: 15px;
}

.idvProdNameNPriceContainerTile {
  display: flex;
  justify-content: space-between;
}

.idvProdButtonContainerTile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.universalProdButtonsTile,
.roleProtectedButtonsTile {
  display: flex;
  justify-content: space-evenly;
}

.universalProdButtonsTile > button,
.removeFromButton > button,
.roleProtectedButtonsTile > button,
.productsUnivButton {
  width: 45%;
}

.universalProdButtonsTile > button,
.removeFromButton > button,
.roleProtectedButtonsTile > button,
.productsUnivButton > button {
  padding: 10px 15px;
}

.universalProdButtonsTile > div > button,
.productsUnivButton > button {
  width: 100%;
}

.productsUnivButton > button,
.editProductButton > button,
.removeFromButton > button {
  height: 100%;
}

.removeFromButton > button:hover,
.editProductButton > button:hover,
.deleteProductButton > button:hover {
  color: #362706;
}

.removeFromButton > button:hover,
.deleteProductButton > button:hover {
  background-color: #e4d3cf;
}

.editProductButton > button:hover {
  background-color: #f1d3b3;
}

/* .navLinkArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
@media screen and (max-width: 850px) {
  /* force to list view */
}
@media screen and (max-width: 1259px) {
  .productDisplayAreaTile {
    display: flex;
    justify-content: center;
    margin-left: 75px;
  }
  .idvProdContainerTile {
    width: 25%;
  }
}
