.productContainerDiv {
  border-bottom: 3px dotted black;
  padding-bottom: 25px;
}

.goBackButton {
  padding: 5px 15px;
  background-color: #a9b388;
  color: #fefae0;
  font-size: 20px;
}
.productContainer {
  display: flex;
}

.prodInfoNButtonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.productInfoDiv {
  width: 85%;
  font-size: 15px;
}
.productInfoDiv > p {
  display: flex;
  text-align: start;
  text-wrap: wrap;
  line-break: anywhere;
  hyphens: auto;
}

.productImageDiv {
  width: 50%;
  padding: 15px;
}
.productImage {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.nameNavailNpriceDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numAvailNprice {
  display: flex;
  justify-content: space-between;
  width: 93%;
  font-size: 20px;
}
.priceOnly {
  display: flex;
  justify-content: flex-end;
  width: 93%;
  font-size: 20px;
}

.productButtonsDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.universallyAccessibleButtons {
  display: flex;
  justify-content: space-around;
}

.protectedButtons {
  display: flex;
  justify-content: space-around;
}

.universallyAccessibleButtons > button {
  padding: 5px;
}

.universallyAccessibleButtons > button,
.productsUnivButton,
.removeFromButton,
.editProductButton,
.deleteProductButton {
  width: 45%;
}

.removeFromButton > button,
.editProductButton > button,
.deleteProductButton > button {
  padding: 10px;
  width: 100%;
}

.removeFromButton#productDetailsRemoveFrom > button:hover,
.deleteProductButton#productDeatilsDeleteProduct > button:hover,
.editProductButton#productDetailsEditProduct > button:hover {
  color: #362706;
}

.removeFromButton#productDetailsRemoveFrom > button:hover,
.deleteProductButton#productDeatilsDeleteProduct > button:hover {
  background-color: #e4d3cf;
}

.editProductButton#productDetailsEditProduct > button:hover {
  background-color: #f1d3b3;
}

.prodReviewsContainer {
  display: flex;
  flex-direction: column;
}
.productReviewsTabContainer {
  display: flex;
}
.productTabReviewDiv {
  display: flex;
  gap: 25px;
  padding: 25px;
  margin: 25px;
  align-items: center;
  border: 3px dotted #a9b388;
  border-radius: 15px;
  width: 88%;
}
.userPicNInfo > h3,
.userPicNInfo > h4 {
  margin: 0px;
  padding: 0px;
}
.userPicNInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px 25px 15px 5px;
  border-right: 1px solid #acb992;
}
.reviewBodyContainer#usersReview,
.userPicNInfo#usersReview {
  border: none;
}
.userProfilePicture {
  width: 50px;
}

.reviewBodyContainer {
  padding: 15px 25px 15px 5px;
  width: 50%;
  border-right: 1px solid #acb992;
}
.usersReviewBody {
  text-align: start;
  overflow-y: scroll;
  word-wrap: anywhere;
  height: 75px;
}

.reviewStarsDiv {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.starsInProfile {
  width: 25px;
  filter: invert(0.25) blur(1px);
}
.selectedRating {
  width: 25px;
}

.reviewButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 35%;
}
.reviewButtonsContainer > button {
  padding: 15px 0px;
}
.reviewButtonsContainer > button:first-child:hover {
  color: #362706;
  background-color: #f1d3b3;
}
.reviewButtonsContainer > button:last-child:hover {
  color: #362706;
  background-color: #dbc1bb;
}

.postReviewModalButton > button {
  width: 20%;
  padding: 10px 0px;
}
