.goBackButton#GD {
  background-color: #1e5128;
  color: #ecdbba;
}
.goBackButton#GD:hover {
  background-color: #ecdbba;
  color: #1e5128;
}

.viewOptionsButton#GD {
  background-color: #ecdbba;
  color: #1e5128;
}
.viewOptionsButton#GD:hover,
.selectedView.viewOptionsButton#GD {
  background-color: #1e5128;
  color: #ecdbba;
}

.productsPageTitle#GD {
  background-color: rgba(81, 152, 114, 0.9);
  color: #ecdbba;
}

div.productDisplayAreaList#GD,
div.productDisplayAreaTile#GD {
  border: 5px outset #3b5249;
  background-color: #346751;
}

.prodsDivListView.GD,
.prodsDivTileView.GD {
  border: 5px inset #346751;
  background-color: #1e5128;
}

.idvProdContainerList.GD {
  border: 1px solid #519872;
  background-color: #346751;
}
.idvProdContainerTile.GD {
  border: 1px solid #5e454b;
}
.idvProdContainerList.GD:hover,
.idvProdContainerTile.GD:hover {
  box-shadow: 13px 10px 5px 0px rgba(59, 82, 73, 0.5);
}

.idvProdNameNPriceContainerList#GD,
.idvProdNameNPriceContainerTile#GD {
  background-color: rgba(81, 152, 114, 0.9);
  color: #fefae0;
}

.idvProdButtonContainerList#GD,
.idvProdButtonContainerTile#GD {
  background-color: rgba(81, 152, 114, 0.9);
}

.universalProdButtonsList#GD > button,
.universalProdButtonsTile#GD > button,
.roleProtectedButtonsList#GD > button,
.roleProtectedButtonsTile#GD > button,
.productsUnivButton.GD#productsListUnivButton,
.productsUnivButton.GD#productsTileUnivButton {
  background-color: rgba(81, 152, 114, 0.5);
  color: #fefae0;
}

.productsUnivButton.GD > button,
.editProductButton.GD > button,
.removeFromButton.GD > button,
.deleteProductButton.GD > button {
  background-color: rgba(81, 152, 114, 0.5);
  color: #fefae0;
}

.universalProdButtonsList#GD > button:hover,
.universalProdButtonsTile#GD > button:hover,
.productsUnivButton.GD > button:hover {
  background-color: #3e432e;
  color: #ecdbba;
}

.removeFromButton.GD > button:hover,
.editProductButton.GD > button:hover {
  color: #362706;
}

.removeFromButton.GD > button:hover {
  background-color: #ecdbba;
}
.deleteProductButton.GD > button:hover {
  color: #fefae0;
  background-color: #c84b31;
}

.editProductButton.GD > button:hover {
  background-color: #d8e9a8;
}
