.goBackButton.productsPage#GD {
  background-color: #1e5128;
  color: #ecdbba;
}
.goBackButton#GD:hover {
  background-color: #ecdbba;
  color: #1e5128;
}

.viewOptionsButton#GD {
  background-color: #ecdbba;
  color: #1e5128;
}
.viewOptionsButton#GD:hover,
.selectedView.viewOptionsButton#GD {
  background-color: #1e5128;
  color: #ecdbba;
}

.productsPageTitle#GD {
  background-color: rgba(81, 152, 114, 0.9);
  color: #ecdbba;
}

.idvProdContainerList#GD {
  border: 1px solid #519872;
  background-color: #346751;
}
.idvProdContainerTile#GD {
  border: 1px solid #5e454b;
}
.idvProdContainerList#GD:hover,
.idvProdContainerTile#GD:hover {
  box-shadow: 13px 10px 5px 0px rgba(81, 152, 114, 0.25);
}

.idvProdNameNPriceContainerList#GD,
.idvProdNameNPriceContainerTile#GD {
  background-color: rgba(81, 152, 114, 0.9);
  color: #fefae0;
}

.idvProdButtonContainerList#GD,
.idvProdButtonContainerTile#GD {
  background-color: rgba(81, 152, 114, 0.9);
}

.universalProdButtonsList#GD > button,
.universalProdButtonsTile#GD > button,
.productsListUnivButton.productsPage#GD > button,
.productsTileUnivButton.productsPage#GD > button,
.productsListRemoveFrom.productsPage#GD > button,
.productsTileRemoveFrom.productsPage#GD > button,
.productsListEdit.productsPage#GD > button,
.productsTileEdit.productsPage#GD > button,
.productsTileDelete.productsPage#GD > button,
.productsListDelete.productsPage#GD > button {
  background-color: rgba(81, 152, 114, 0.5);
  color: #fefae0;
}
.universalProdButtonsList#GD > button:hover,
.universalProdButtonsTile#GD > button:hover,
.productsListUnivButton.productsPage#GD > button:hover,
.productsTileUnivButton.productsPage#GD > button:hover {
  background-color: #3e432e;
  color: #ecdbba;
}
.productsTileRemoveFrom.productsPage#GD > button:hover,
.productsListRemoveFrom.productsPage#GD > button:hover {
  background-color: #ecdbba;
  color: #362706;
}
.productsTileDelete.productsPage#GD > button:hover,
.productsListDelete.productsPage#GD > button:hover {
  color: #fefae0;
  background-color: #c84b31;
}
.productsTileEdit.productsPage#GD > button:hover,
.productsListEdit.productsPage#GD > button:hover {
  background-color: #d8e9a8;
  color: #362706;
}

.universalProdButtonsList#GD > button:hover,
.universalProdButtonsTile#GD > button:hover,
.productsUnivButton.GD > button:hover {
  background-color: #3e432e;
  color: #ecdbba;
}
