.goBackButton.productsPage#GL {
  background-color: #c3e2c2;
  color: #5e454b;
}
.goBackButton.productsPage#GL:hover {
  background-color: #a0c49d;
  color: #5e454b;
}

.viewOptionsButton#GL {
  background-color: #f3f0d7;
  color: #5e454b;
}
.viewOptionsButton#GL:hover,
.selectedView.viewOptionsButton#GL {
  background-color: #5e454b;
  color: #f3f0d7;
}

.productsPageTitle#GL {
  background-color: rgba(148, 180, 159, 0.9);
}

.idvProdContainerList#GL {
  border: 1px solid #f7ffe5;
  background-color: #a0c49d;
}
.idvProdContainerTile#GL {
  border: 1px solid #5e454b;
}
.idvProdContainerList#GL:hover,
.idvProdContainerTile#GL:hover {
  box-shadow: 13px 10px 5px 0px #94b49f;
}

.idvProdNameNPriceContainerList#GL,
.idvProdNameNPriceContainerTile#GL {
  background-color: rgba(148, 180, 159, 0.9);
}

.idvProdButtonContainerList#GL,
.idvProdButtonContainerTile#GL {
  background-color: rgba(148, 180, 159, 0.9);
}

.productsListUnivButton.productsPage#GL > button,
.productsTileUnivButton.productsPage#GL > button,
.productsListRemoveFrom.productsPage#GL > button,
.productsTileRemoveFrom.productsPage#GL > button,
.productsListEdit.productsPage#GL > button,
.productsTileEdit.productsPage#GL > button,
.productsTileDelete.productsPage#GL > button,
.productsListDelete.productsPage#GL > button {
  color: #362706;
}
.universalProdButtonsList#GL > button:hover,
.universalProdButtonsTile#GL > button:hover,
.productsListUnivButton.productsPage#GL > button:hover,
.productsTileUnivButton.productsPage#GL > button:hover {
  background-color: #e1ecc8;
  color: #362706;
}
.productsTileRemoveFrom.productsPage#GL > button:hover,
.productsListRemoveFrom.productsPage#GL > button:hover {
  background-color: #ecb390;
}
.productsTileDelete.productsPage#GL > button:hover,
.productsListDelete.productsPage#GL > button:hover {
  background-color: #cd8d7a;
}
.productsTileEdit.productsPage#GL > button:hover,
.productsListEdit.productsPage#GL > button:hover {
  background-color: #f7d59c;
}

/* Toggle Switch */
.toggleSwitch-label#GL {
  border: 1px solid #fcf8e8;
}

.toggleSwitch-inner#GL:before {
  background-color: #cee5d0;
  color: #5e454b;
}
.toggleSwitch-inner#GL:after {
  background-color: #c4d7b2;
  color: #5e454b;
}

.toggleSwitch-switch.list#GL {
  background: #fcf8e8;
  border: 1px solid #eaeccc;
}
.toggleSwitch-switch.tile#GL {
  background: #fcf8e8;
  border: 1px solid #eaeccc;
}
