#home {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.viewAllButton {
  width: 35%;
  font-size: 25px;
  padding: 10px 0px;
}

.itemsContainerDiv {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px 50px;
}

.categoryContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.idvItem {
  border: 3px solid #4e6c50;
  border-radius: 15px;
  background-color: #b99470;
  width: 35%;
  padding: 50px 0px;
  flex-wrap: wrap;
  color: #fefae0;
}
.idvItem:hover {
  background-color: #4e6c50;
}
