@media screen and (max-width: 300px) {
  #navContainer {
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .navlinkContainer {
    justify-content: center;
    right: 0px;
  }
  .navlinkIcon,
  .logoIcon,
  .profileLogo {
    width: 30px;
    height: 30px;
  }
  .siteName {
    margin: 0px;
  }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .navlinkIcon,
  .logoIcon,
  .profileLogo {
    width: 30px;
    height: 30px;
  }
}
