.productContainerDiv {
  padding-bottom: 25px;
}

.goBackButton {
  padding: 5px 15px;
  font-size: 20px;
}
.productContainer {
  display: flex;
}

.prodInfoNButtonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.productInfoDiv {
  width: 90%;
  font-size: 15px;
}
.productInfoDiv {
  display: flex;
  text-align: start;
  text-wrap: wrap;
  line-break: anywhere;
  hyphens: auto;
}

.productImageDiv {
  width: 50%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}
.productImageDiv:hover {
  background-size: contain;
  background-repeat: no-repeat;
}

.prodInfoNButtonsDiv {
  display: flex;
  flex-direction: column;
}

.numAvailNprice {
  display: flex;
  justify-content: space-between;
  width: 85%;
  font-size: 20px;
}
.priceOnly {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  font-size: 20px;
}

.productButtonsDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 15px;
}

.universallyAccessibleButtons {
  display: flex;
  justify-content: space-around;
}

.protectedButtons {
  display: flex;
  justify-content: space-around;
}

.universallyAccessibleButtons.productDetails > button,
.productsUnivButton.productDetails,
.removeFromButton.productDetails,
.editProductButton.productDetails,
.deleteProductButton.productDetails {
  width: 45%;
}
.productsUnivButton > button,
.removeFromButton.productDetails > button,
.editProductButton.productDetails > button,
.deleteProductButton.productDetails > button {
  padding: 5px;
  width: 100%;
}

.prodReviewsContainer {
  display: flex;
  flex-direction: column;
}
.productReviewsTabContainer {
  display: flex;
}
.productTabReviewDiv {
  display: flex;
  gap: 25px;
  padding: 25px;
  margin: 25px;
  align-items: center;
  border-radius: 15px;
  width: 92%;
}
.userPicNInfo.productDetails > h3,
.userPicNInfo.productDetails > h4 {
  margin: 0px;
  padding: 0px;
}
.userPicNInfo.productDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px 25px 15px 5px;
}
.reviewBodyContainer.productDetails {
  border: none;
}
.userProfilePicture.productDetails {
  width: 50px;
}

.reviewBodyContainer.currUserReview {
  padding: 15px 25px 15px 5px;
  width: 50%;
}
.reviewBodyContainer.otherReview {
  padding: 15px 25px 15px 5px;
  width: 75%;
}
.usersReviewBody.productDetails {
  overflow-y: scroll;
  word-wrap: anywhere;
  width: 100%;
  padding: 5px;
  margin-left: 15px;
  font-weight: bold;
  text-align: start;
  overflow-y: scroll;
  word-wrap: anywhere;
  height: 75px;
}
.usersReviewBody.productDetails::-webkit-scrollbar {
  display: none;
}

.reviewStarsDiv.productDetails {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.starsInProfile.productDetails {
  width: 25px;
  filter: invert(0.25) blur(1px);
}
.selectedRating.productDetails {
  width: 25px;
}

.reviewButtonsContainer.productDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 35%;
}
.reviewButtonsContainer.productDetails > button {
  padding: 15px 0px;
}

.postReviewModalButton.productDetails > button {
  width: 20%;
  padding: 10px 0px;
}
