.profileButtonsContainer,
.barrierProtectedProfileButtonsDiv {
  display: flex;
  flex-direction: column;
}

.universalProfileButtonsDiv,
.employeeAccessibleProfileButtonsDiv,
.managementOnlyButtosDiv {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}
.universalProfileButtonsDiv > button {
  width: 250px;
}
.universalProfileButtonsDiv > button,
.employeeAccessibleProfileButtonsDiv > button,
.employeeAccessibleProfileButtonsDiv > a > button,
.managementOnlyButtosDiv > button,
.userFavesContainer > button,
.userWishContainer > button {
  padding: 15px;
  background-color: #f0ebce;
  color: #675d50;
  font-weight: bold;
}
.universalProfileButtonsDiv > button:hover,
.employeeAccessibleProfileButtonsDiv > button:hover,
.employeeAccessibleProfileButtonsDiv > a > button:hover,
.managementOnlyButtosDiv > button:hover {
  background-color: #807464;
  color: #f0ebce;
}

.profileTabsContainer {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.profileTabsDisplaysContainer {
  background-color: #807464;
  color: #f0ebce;
  border-radius: 15px;
  height: 350px;
  width: 98%;
  overflow-y: scroll;
  scrollbar-color: #d3b5a0;
}

.profileTabsDisplaysContainer::-webkit-scrollbar {
  width: 10px;
  background-color: #395144;
  border-radius: 30px;
}
.profileTabsDisplaysContainer::-webkit-scrollbar-track,
.profileTabsDisplaysContainer::-webkit-scrollbar-track-piece {
  background-color: #395144;
  border-radius: 30px;
}
.profileTabsDisplaysContainer::-webkit-scrollbar-thumb,
.profileTabsDisplaysContainer::-webkit-scrollbar-thumb:vertical {
  background-color: #a9b388;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 100%;
  background-color: #395144;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #395144;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:vertical {
  width: 10px;
  background-color: #a9b388;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:horizontal {
  display: none;
}

.staffListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  gap: 15px;
}
.empListContainer,
.managerListContainer,
.ownerListContainer {
  display: flex;
  flex-direction: column;
  border: 3px dotted #a9b388;
  border-radius: 15px;
  padding: 25px;
  width: 80%;
}
/* .empListContainer > label {
  justify-items: center;
} */
.empListDiv,
.managerListDiv,
.ownerListDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  gap: 25px;
}
.staffName {
  color: #a9b388;
}

.userFavesTabContainer,
.userWishTabContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.userFavesContainer,
.userWishContainer {
  margin-top: 25px;
  margin-bottom: 25px;
}
.userFavesContainer > button,
.userWishContainer > button {
  width: 150px;
}
.userFavesContainer > a,
.userWishContainer > a {
  color: #a9b388;
}
.userFavesContainer > a:hover,
.userWishContainer > a:hover,
.empListDiv > a:hover,
.managerListDiv > a:hover,
.ownerListDiv > a:hover {
  color: #e5e5cb;
}
.userFavesContainer > button:hover,
.userWishContainer > button:hover {
  background-color: #b67162;
}

.emptyFavesTabButton,
.emptyWishTabButton {
  padding: 15px;
}
