.darkPurplePalette {
  color: #1b2430;
  color: rgb(27, 36, 48);
  color: #16213e;
  color: rgb(22, 33, 62);
  color: #0c134f;
  color: rgb(12, 19, 79);
  color: #1d267d;
  color: rgb(29, 38, 125);
  color: #0f3460;
  color: rgb(15, 52, 96);
  color: #4477ce;
  color: rgb(68, 119, 206);
  color: #8cabff;
  color: rgb(140, 171, 255);

  color: #51557e;
  color: rgb(81, 85, 126);

  color: #d4adfc;
  color: rgb(212, 173, 252);
  color: #816797;
  color: rgb(129, 103, 151);
  color: #5c469c;
  color: rgb(92, 70, 156);
  color: #512b81;
  color: rgb(81, 43, 129);
  color: #35155d;
  color: rgb(53, 21, 93);

  color: #d6d5a8;
  color: rgb(214, 213, 168);

  color: #e94560;
  color: rgb(233, 69, 96);
}
