.lightPurplePalette {
  color: #030637;
  color: rgb(3, 6, 55);
  color: #7f669d;
  color: rgb(127, 102, 157);
  color: #937dc2;
  color: rgb(147, 125, 194);
  color: #baabda;
  color: rgb(186, 171, 218);
  color: #ba94d1;
  color: rgb(186, 148, 209);
  color: #c689c6;
  color: rgb(198, 137, 198);
  color: #ffabe1;
  color: rgb(255, 171, 225);
  color: #debace;
  color: rgb(222, 186, 206);
  color: #ffe6f7;
  color: rgb(255, 230, 247);

  color: #f0ece3;
  color: rgb(240, 236, 227);
  color: #dfd3c3;
  color: rgb(223, 211, 195);
  color: #c7b198;
  color: rgb(199, 177, 152);

  color: #fbfacd;
  color: rgb(251, 250, 205);
  color: #dcffcc;
  color: rgb(220, 255, 204);
  color: #9fdfcd;
  color: rgb(159, 223, 205);
}
