body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: blanchedalmond;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  background-color: #4e6c50;
  padding: 20px 20px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #4e6c50;
  color: #f0ebce;
  left: 0%;
  bottom: 0%;
}

button {
  background-color: #f0ebce;
  color: #4e6c50;
  font-weight: bold;
  border-radius: 5px;
  border-width: 3px;
}
button:hover {
  background-color: #4e6c50;
  color: #f0ebce;
  cursor: pointer;
}
a:hover {
  color: #b67162;
}

input {
  border-radius: 5px;
  padding: 5px;
}
select {
  border-radius: 5px;
  padding: 5px;
}

.homeContainer,
.productsContainer,
.productDetailsContainer,
.takeoutContainer,
.cartContainer,
.userProfileContainer,
.payStubsContainer,
.employeeProfileContainer,
.oopseyMessageContainer {
  margin-top: 125px;
  margin-bottom: 150px;
  width: 100%;
}

.hidden {
  display: none;
}

*:disabled:hover {
  cursor: not-allowed;
}

.errors {
  color: #b67162;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 15px;
  height: 100%;
  background-color: #395144;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #395144;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:vertical {
  width: 10px;
  background-color: #a9b388;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:horizontal {
  display: none;
}
