.splashGreeting {
  padding-top: 50px;
  align-items: center;
}
#guestSplashView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splashLogoContainerDiv {
  display: flex;
  justify-content: center;
  align-content: center;
}

.splashEnter {
  position: absolute;
  top: 80%;
  background-color: rgba(34, 139, 34, 0.75);
  color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 40%; /* ! screen size changes will need to be made */
  padding: 15px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}
.splashEnter#guest {
  top: 60%;
}
.splashEnter#guest:hover {
  background-color: rgba(34, 139, 34, 0.9);
}
.splashEnter > h2 {
  padding: 5px 15px;
}
.splashEnter > h2:hover {
  border: 3px solid limegreen;
  border-radius: 15px;
  background-color: darkgreen;
  padding: 2px 12px;
}
/* #guestSplashMsg {
  width: 50%;
} */

.splashLogoImage {
  width: 800px;
  height: 800px;
  border-radius: 600px;
  background-color: darkgreen;
}
