.orderTabContainer {
  display: flex;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 15px;
}
.ordersContainerDiv {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  gap: 15px;
}
.idvOrderDiv {
  border-radius: 25px;
  padding: 10px;
  height: 300px;
}

.orderCardTitle {
  font-size: 25px;
  padding: 15px;
  border-radius: 25px 25px 0px 0px;
}

.orderItemsContainer {
  display: flex;
  height: 80%;
}

.orderDetails {
  font-weight: bold;
  border-radius: 0px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.orderItemDetails > a {
  font-size: 25px;
  font-weight: bold;
}
.orderItemDetails > a:hover {
  font-size: 25px;
  font-weight: bold;
}
.orderDetails > button {
  margin: 0px 10px 20px 10px;
  padding: 5px 10px;
  width: 75%;
}

.orderItemsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0px 0px 25px 0px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
  gap: 15px;
}

.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 90%;
  height: 125px;
  border-radius: 10px;
}
.orderItem > img {
  width: 35%;
  max-height: 100%;
  border-radius: 15px;
}
.orderItem > img:hover {
  width: 35%;
  max-height: 250px;
  position: relative;
  z-index: 1;
}

.orderItemDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  padding: 25px;
}
.orderItemDetails > p,
.orderItemDetails > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 25px;
}
.orderItemDetails > div {
  font-size: 20px;
}

.orderButtons {
  width: 15%;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.reorder > button,
.review > button,
.return > button {
  width: 100%;
}

.noOrdersButtons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.noOrdersButtons > a > button {
  padding: 15px;
}
