.orderTabContainer {
  display: flex;
  width: 98%;
  /* border: 1px solid black; */
  margin-left: 13px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ordersContainerDiv {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  /* border: 1px solid black; */
  gap: 15px;
}
.idvOrderDiv {
  /* border: 1px solid black; */
  border-radius: 25px;
  background-color: #1a120b;
  padding: 10px;
}

.orderCardTitle {
  background-color: #3f2c1b;
  border: 5px #1a120b;
  border-style: inset;
  font-size: 25px;
  padding: 15px;
  border-radius: 25px 25px 0px 0px;
}

.orderItemsContainer {
  /* border: 1px solid black; */
  display: flex;
}

.orderDetails {
  /* border: 1px solid black; */
  background-color: #395144;
  color: #f0ebce;
  font-weight: bold;
  border-radius: 0px 0px 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.orderItemDetails > a {
  font-size: 25px;
  font-weight: bold;
  color: #1a120b;
}
.orderItemDetails > a:hover {
  font-size: 25px;
  font-weight: bold;
  color: #464e2e;
}
.orderDetails > button {
  margin: 0px 10px 20px 10px;
  padding: 5px 10px;
}
#reorder > button,
#review > button {
  padding: 5px;
}
#return > button {
  padding: 10px;
}
#review > button:hover {
  background-color: rgba(101, 100, 124, 0.5);
}
#return > button:hover,
.orderDetails > button:hover {
  background-color: #e2bcb7;
  color: #1a120b;
}

.orderItemsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  /* border: 1px solid black; */
  border-radius: 0px 0px 25px 0px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
  gap: 15px;
  background-color: #4e6c50;
}
.orderItemsDiv::-webkit-scrollbar {
  display: none;
}
.orderItemsDiv::-webkit-scrollbar:hover {
  width: 5px;
}

.orderItem {
  border: 7px #464e2e;
  border-style: inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #acb992;
  width: 90%;
  color: #1a120b;
}
.orderItem > img {
  width: 35%;
}

.orderItemDetails {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  padding: 25px;
}
.orderItemDetails > p,
.orderItemDetails > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  font-size: 25px;
}
.orderItemDetails > div {
  font-size: 20px;
}

.orderButtons {
  width: 15%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  /* padding: 0px 25px; */
  margin-right: 10px;
}
#orderReturnButton,
#orderPostReviewButton,
#orderBuyAgainButton {
  padding: 10px 15px;
}

#orderPostReviewButton:hover {
  color: #e2bcb7;
  background-color: rgb(101, 100, 124);
  cursor: not-allowed;
}

#empty {
  display: flex;
  width: 100%;
  justify-content: center;
}

#noOrdersButtons {
  display: flex;
  justify-content: center;
  gap: 15px;
}
#noOrdersButtons > a > button {
  padding: 15px;
}
