.profileReviewsTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 25px 0px 25px 25px;
  width: 95%;
}
.profileTabReviewDiv {
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  width: 95%;
}
.profileTabReviewDiv > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.userPicNInfo.userProfile > h3,
.userPicNInfo.userProfile > h4 {
  margin: 0px;
  padding: 0px;
}
.userPicNInfo.userProfile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 15px 5px;
  width: 15%;
}
.reviewedProductImageDiv {
  padding: 15px 25px 15px 5px;
  width: 40%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}
.reviewedProductImageDiv#GL:hover,
.reviewedProductImageDiv#GD:hover,
.reviewedProductImageDiv#PL:hover,
.reviewedProductImageDiv#PD:hover,
.reviewedProductImageDiv#BL:hover,
.reviewedProductImageDiv#BD:hover {
  box-shadow: none;
  background-size: contain;
  background-repeat: no-repeat;
}
.userProfilePicture.userProfile {
  width: 25px;
}

.reviewBodyContainer.userProfile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 43%;
}
.reviewBodyContainer.userProfile#dontOwn {
  width: 40%;
}

.usersReviewBody.userProfile {
  overflow-y: scroll;
  word-wrap: anywhere;
  width: 90%;
  padding: 5px;
  margin-left: 5px;
  font-weight: bold;
  text-align: start;
  overflow-y: scroll;
  word-wrap: anywhere;
  height: 75px;
}
.usersReviewBody.userProfile::-webkit-scrollbar {
  display: none;
}

.reviewedProductName {
  font-size: 25px;
  margin: 5px;
}

.reviewStarsDiv.userProfile {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.starsInProfile.userProfile {
  width: 25px;
  filter: invert(0.25) blur(1px);
}
.selectedRating.userProfile {
  width: 25px;
}

.reviewButtonsContainer.userProfile {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  gap: 15px;
}
.reviewButtonsContainer.userProfile > button {
  width: 50%;
  padding: 10px 0px;
}
