.profileReviewsTabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 25px 0px 25px 25px;
  width: 95%;
}
.profileTabReviewDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid #a9b388;
  background-color: #395144;
  border-radius: 15px;
  padding: 15px;
  width: 95%;
}
.profileTabReviewDiv > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.userPicNInfo.userProfile > h3,
.userPicNInfo.userProfile > h4 {
  margin: 0px;
  padding: 0px;
}
.userPicNInfo.userProfile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 15px 25px 15px 5px;
  width: 15%;
}
.reviewedProductImageDiv {
  padding: 15px 25px 15px 5px;
  width: 30%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 7px 5px 5px #a9b388;
}
.reviewedProductImageDiv:hover {
  box-shadow: none;
  background-size: contain;
  background-repeat: no-repeat;
}
.userProfilePicture.userProfile {
  width: 25px;
}

.reviewBodyContainer.userProfile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 43%;
}

.reviewBodyContainer.userProfile#dontOwn {
  border: none;
  width: 40%;
}

.usersReviewBody.userProfile {
  overflow-y: scroll;
  word-wrap: anywhere;
  width: 100%;
  padding: 5px;
  margin-left: 15px;
  border: 3px inset #3e372f;
  background-color: #a9b388;
  color: #3e372f;
  font-weight: bold;
  text-align: start;
  overflow-y: scroll;
  word-wrap: anywhere;
  height: 75px;
}
.usersReviewBody.userProfile::-webkit-scrollbar {
  display: none;
}

.reviewedProductName {
  color: #e5e5cb;
  font-size: 25px;
  margin: 5px;
}
.reviewedProductName:hover {
  color: #a9b388;
}

.reviewStarsDiv.userProfile {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.starsInProfile.userProfile {
  width: 25px;
  filter: invert(0.25) blur(1px);
}
.selectedRating.userProfile {
  width: 25px;
}

.reviewButtonsContainer.userProfile {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  gap: 15px;
}
.reviewButtonsContainer.userProfile > button {
  width: 50%;
  padding: 10px 0px;
}

/* .reviewButtonsContainer > button:first-child:hover {
    color: #1a120b;
    background-color: #f1d3b3;
  }
  .reviewButtonsContainer > button:last-child:hover {
    color: #1a120b;
    background-color: #dbc1bb;
  } */
