.userFavesTabContainer,
.userWishTabContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: start;
  padding-left: 45px;
  margin-bottom: 25px;
}
.userFavesContainer,
.userWishContainer {
  margin-top: 25px;
  padding: 0px 10px 25px 10px;
  word-wrap: anywhere;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 27%;
  height: 250px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.userFavesContainer > button,
.userWishContainer > button {
  width: 100%;
  font-size: 13px;
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
}
.userFavesContainer > a,
.userWishContainer > a {
  width: 97.85%;
  padding: 5px 0px 5px 0px;
  font-size: 25px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 10px;
}

.emptyFavesTabButton,
.emptyWishTabButton {
  padding: 15px;
}
