.goBackButton#PD {
  background-color: #5c469c;
  color: #d6d5a8;
}
.goBackButton#PD:hover {
  background-color: #d4adfc;
  color: #030637;
}

.viewOptionsButton#PD {
  background-color: #d4adfc;
  color: #030637;
}
.viewOptionsButton#PD:hover,
.selectedView.viewOptionsButton#PD {
  background-color: #5c469c;
  color: #d6d5a8;
}

.productsPageTitle#PD {
  background-color: rgba(92, 70, 156, 0.9);
}

.idvProdContainerList#PD {
  border: 1px solid #8cabff;
  background-color: #5c469c;
}
.idvProdContainerTile#PD {
  border: 1px solid #8cabff;
}
.idvProdContainerList#PD:hover,
.idvProdContainerTile#PD:hover {
  box-shadow: 13px 10px 5px 0px rgba(29, 38, 125, 0.5);
}

.idvProdNameNPriceContainerList#PD,
.idvProdNameNPriceContainerTile#PD {
  background-color: rgba(129, 103, 151, 0.9);
  color: #d6d5a8;
}

.idvProdButtonContainerList#PD,
.idvProdButtonContainerTile#PD {
  background-color: rgba(129, 103, 151, 0.9);
}

.universalProdButtonsList#PD > button,
.universalProdButtonsTile#PD > button,
.productsListUnivButton.productsPage#PD > button,
.productsTileUnivButton.productsPage#PD > button,
.productsListRemoveFrom.productsPage#PD > button,
.productsTileRemoveFrom.productsPage#PD > button,
.productsListEdit.productsPage#PD > button,
.productsTileEdit.productsPage#PD > button,
.productsTileDelete.productsPage#PD > button,
.productsListDelete.productsPage#PD > button {
  background-color: rgba(129, 103, 151, 0.5);
  color: #d6d5a8;
}
.universalProdButtonsList#PD > button:hover,
.universalProdButtonsTile#PD > button:hover,
.productsListUnivButton.productsPage#PD > button:hover,
.productsTileUnivButton.productsPage#PD > button:hover {
  background-color: #d4adfc;
  color: #1b2430;
}
.productsTileRemoveFrom.productsPage#PD > button:hover,
.productsListRemoveFrom.productsPage#PD > button:hover {
  background-color: #d6d5a8;
  color: #000000;
}
.productsTileDelete.productsPage#PD > button:hover,
.productsListDelete.productsPage#PD > button:hover {
  color: #fff;
  background-color: #e94560;
}
.productsTileEdit.productsPage#PD > button:hover,
.productsListEdit.productsPage#PD > button:hover {
  background-color: #d6d5a8;
  color: #000000;
}

/* Toggle Switch */
.toggleSwitch-label#PD {
  border: 1px solid #16213e;
}

.toggleSwitch-inner#PD:before {
  background-color: #512b81;
  color: #d6d5a8;
}
.toggleSwitch-inner#PD:after {
  background-color: #35155d;
  color: #d6d5a8;
}

.toggleSwitch-switch.list#PD {
  background: #d4adfc;
  border: 1px solid #16213e;
}
.toggleSwitch-switch.tile#PD {
  background: #d4adfc;
  border: 1px solid #16213e;
}
