.goBackButton#PL {
  background-color: #baabda;
  color: #030637;
}
.goBackButton#PL:hover {
  background-color: #ba94d1;
}

.viewOptionsButton#PL {
  background-color: #ba94d1;
  color: #030637;
}
.viewOptionsButton#PL:hover,
.selectedView.viewOptionsButton#PL {
  background-color: #ffabe1;
}

.productsPageTitle#PL {
  background-color: rgba(255, 230, 247, 0.9);
}

.idvProdContainerList#PL {
  border: 1px solid #9fdfcd;
  background-color: #baabda;
}
.idvProdContainerTile#PL {
  border: 1px solid #c7b198;
}
.idvProdContainerList#PL:hover,
.idvProdContainerTile#PL:hover {
  box-shadow: 13px 10px 5px 0px rgba(255, 230, 247, 0.25);
}

.idvProdNameNPriceContainerList#PL,
.idvProdNameNPriceContainerTile#PL {
  background-color: #ba94d1;
  color: #000000;
}

.idvProdButtonContainerList#PL,
.idvProdButtonContainerTile#PL {
  background-color: #ba94d1;
}

.universalProdButtonsList#PL > button,
.universalProdButtonsTile#PL > button,
.productsListUnivButton.productsPage#PL > button,
.productsTileUnivButton.productsPage#PL > button,
.productsListRemoveFrom.productsPage#PL > button,
.productsTileRemoveFrom.productsPage#PL > button,
.productsListEdit.productsPage#PL > button,
.productsTileEdit.productsPage#PL > button,
.productsTileDelete.productsPage#PL > button,
.productsListDelete.productsPage#PL > button {
  background-color: #c689c6;
  color: #030637;
}
.universalProdButtonsList#PL > button:hover,
.universalProdButtonsTile#PL > button:hover,
.productsListUnivButton.productsPage#PL > button:hover,
.productsTileUnivButton.productsPage#PL > button:hover {
  background-color: #ffabe1;
}
.productsTileRemoveFrom.productsPage#PL > button:hover,
.productsListRemoveFrom.productsPage#PL > button:hover {
  background-color: #dfd3c3;
}
.productsTileDelete.productsPage#PL > button:hover,
.productsListDelete.productsPage#PL > button:hover {
  background-color: #c7b198;
}
.productsTileEdit.productsPage#PL > button:hover,
.productsListEdit.productsPage#PL > button:hover {
  background-color: #9fdfcd;
}

/* Toggle Switch */
.toggleSwitch-label#PL {
  border: 1px solid #030637;
}

.toggleSwitch-inner#PL:before {
  background-color: #ffabe1;
  color: #030637;
}
.toggleSwitch-inner#PL:after {
  background-color: #c689c6;
  color: #030637;
}

.toggleSwitch-switch.list#PL {
  background: #ffe6f7;
  border: 1px solid #dcffcc;
}
.toggleSwitch-switch.tile#PL {
  background: #ffe6f7;
  border: 1px solid #dcffcc;
}
