.goBackButtonFromStaffProfile {
  padding: 5px 15px;
  font-size: 20px;
}

#nameAndUsername > button {
  padding: 5px;
}
/* #nameAndUsername > button:hover {
  //
} */

.staffProfilePayStubTab {
  cursor: pointer;
}

.staffProfilePic,
.staffProfileLogo {
  width: 25%;
  height: 25%;
  margin: 15px;
  border-radius: 15px;
}

.backButtonDiv {
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
}

.staffDetails {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}
#nameAndUsername,
#contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contactCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
