.logoIconContainer {
  display: flex;
  gap: 15px;
}
.navlinkContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  right: 50px;
}

.logoNavLink {
  display: flex;
  gap: 15px;
  align-items: center;
}
.navlinkIcon,
.logoIcon,
.profileLogo,
.userProfilePic {
  width: 50px;
  height: 50px;
}
.userProfilePic {
  border-radius: 25px;
}

.siteName {
  color: #f0ebce;
}

.nav-btn {
  font-size: 35px;
  cursor: pointer;
}

.profile-dropdown {
  position: fixed;
  top: 65px;
  right: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 15px 25px;
  border: 1px solid #395144;
  border-radius: 15px;
  background-color: #aa8b56;
  color: #395144;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  z-index: 0;
}
#staffMenuDropDown {
  width: 94%;
}

.currUser,
.staffUser {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.currUserButtons,
#noCurrUser {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.currUserButtons > li > button,
.currUserButtons > li > a > button {
  padding: 10px 10px;
  width: 80%;
}
#noCurrUser > button {
  padding: 10px 10px;
}

.currStaffDetails {
  display: flex;
  justify-content: space-between;
}
.currStaffButtons {
  display: flex;
  justify-content: space-around;
}

#clockButtons,
#managementOnlyButtons {
  display: flex;
  gap: 5px;
}
